@import "src/colors";
.btn {
  background: var(--btn-bg);
  border-radius: 10px;
  width: 115px;
  height: 35px;
  transition: var(--transition);
  color: var(--primary-text-color);
  overflow: hidden;
  float: left;
  cursor: pointer;
  &:hover {
    background: #ff572d;
  }
  & label {
    float: left;
    width: 100%;
    height: 100%;
    cursor: pointer;
    & span {
    height: 100%;
    width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & input {
      position: absolute;
      display: none;
    }
  }
}
.btn input:checked + span {
  background: var(--red-color);
}