@import "../../colors";

.card {
  width: 230px;
  display: flex;
  flex-direction: column;
  transition: .2s;
  & .imgWrapper {
    position: relative;
    width: 100%;
    & .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 230px;
      height: 345px;
      border-radius: 8px;
      background: #000;
      visibility: hidden;
      opacity: 0;
      z-index: 2;
      transition: .2s;
    }
    & img {
      border-radius: 8px;
      max-width: 100%;
    }
  }
  & h2 {
    color: var(--primary-text-color);
    font-size: 18px;
    font-weight: 600;
    letter-spacing: .2px;
    margin-top: 10px;
    transition: var(--transition);
  }
  & .details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .genreAndYear {
      transition: var(--transition);
      color: var(--secondary-text-color);
      margin-top: 8px;
      margin-bottom: 8px;
      font-weight: 400;
      letter-spacing: .1px;
    }
    & .rating {
      color: gold;
      display: flex;
      font-weight: 500;
      align-items: center;
      & span {
        margin-left: 4px;
      }
    }
  }
  & .overview {
    transition: .2s;
  }
  &:hover {
    & .imgWrapper {
      & .overlay {
        visibility: visible;
        opacity: .5;
      }
    }
    & h2 {
      color: var(--red-color);
    }

  }
}