.movieInfoPage {
position: relative;
}

.bgVideo {
  //background-size: cover;
  //background: no-repeat center;
  //user-select: none;
  //pointer-events: none;

  width: 100%;
  height: 690px;
  //filter: grayscale(0.8);

}