//@use '../../App' ;
@import 'src/colors';

.header {
    /*display: flex;*/
    /*justify-content: space-between;*/
    //position: fixed;
    //width: 100%;
    //top: 0;
    //z-index: 10;
    background: var(--header-bg);
    transition: var(--transition);
    position: relative;
    z-index: 4;
}
.headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 60px;
}
.left {
    display: flex;
    align-items: center;
    & div {
        font-size: 26px;
        & a {
            transition: var(--transition);
            color: var(--primary-text-color);
        }
    }
    & nav {
        margin-left: 60px;
        & li {
            margin-right: 30px;
            font-size: 16px;
            transition: var(--transition);
            color: var(--secondary-text-color);
            cursor: pointer;
            &:last-child {
                margin: 0;
            }
            &:hover, {
                color: var(--primary-text-color);
            }
            &.active {
                color: var(--primary-text-color);
                a {
                    color: var(--primary-text-color);
                }
            }
            & a {
                transition: var(--transition);
                color: var(--secondary-text-color);
                position: relative;
                display: flex;
                align-items: center;

                &:hover, {
                    color: var(--primary-text-color);
                }
                & span {
                    margin-left: 5px;
                }

            }
        }
    }
}
.right {
    display: flex;
    align-items: center;
    column-gap: 15px;
    &:last-child {
        margin: 0;
    }
    .themeSwitcher {
        cursor: pointer;
        margin-right: 30px;
    }
}
.list {
    display: flex;
    justify-content: space-between;
}